name: build-and-push
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-push:
    uses: liatrio/gh-trusted-builds-workflows/.github/workflows/build-and-push.yaml@main
    permissions:
      actions: read
      id-token: write
      contents: read
      packages: write
      pull-requests: read
    with:
      fulcioUrl: "https://fulcio.sigstage.dev"
      rekorUrl: "https://rekor.sigstage.dev"
      tufMirror: "https://tuf-repo-cdn.sigstage.dev"
      tufRoot: "app/sigstore/1.root.json"
